<main class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <input 
      formControlName="todoText"
      class="new-todo"
      placeholder="What needs to be done"
      autofocus
      >
    </form>
  </header>
  <section class="main">
    <app-complete-all></app-complete-all>
    <app-todos-list></app-todos-list>
  </section>
  <footer class="footer">
    <span class="todo-count"></span>
    <ul class="filters">
      <li>
        <a (click)="showByFilter('All')" class="selected">All</a>
      </li>
      <li>
        <a (click)="showByFilter('Active')" >Active</a>
      </li>
      <li>
        <a (click)="showByFilter('Completed')">Completed</a>
      </li>
    </ul>
    <button (click)="clearCompleted()" class="clear-completed">Clear completed</button>
  </footer>
</main>
<footer class="info">
  <p>Double-click to edit a todo</p>
</footer>
